@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Secular+One&display=swap');
body {
  /* background: linear-gradient(to right, #1d976c, #93f9b9); */
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
  background-color: #4e4376;
  background-size: stretch;
  font-family: 'Rubik', sans-serif;
}

.noMatchText {
  color: whitesmoke;
  font-size: 50px;
}