.branch-box {
    border: 1px solid grey;
    border-radius: 9px;
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
    box-shadow: 0px 0px 23px 17px rgba(0,0,0,0.09);
}

.flex-container h4 {
    color: gold;
    font-family: 'Secular One', sans-serif;
    font-size: 35px;
}

.flex-container button:hover {
    box-shadow: 0px 0px 23px 17px rgba(0,0,0,0.09);
}

.branch-box label {
    font-size: 18px;
    font-weight: bold;
}

@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
        .branch-box {
            width: 70vw;
            border: 1px solid grey;
            border-radius: 9px;
            background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
            box-shadow: 0px 0px 23px 17px rgba(0,0,0,0.09);
        }
}